body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #2a2b3f;
background: linear-gradient(93deg,#2a2b3f 0%, #86b7e4 20%);
background: -webkit-linear-gradient(93deg,#2a2b3f 0%, #86b7e4 20%);
background: -moz-linear-gradient(93deg,#2a2b3f 0%, #86b7e4 20%);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
